#center{
    background-color: red;
    height: 60%;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.imagediv{
    position: absolute;
    height: 170px;
    width: 120px;
    overflow: hidden;
}
.imagediv img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: translateY(100%);
}